body,
p {
  margin: 0;
  line-height: middle;
}

* {
  font-family: sans-serif;
}

.first-screen {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.first-screen img {
  width: 100%;
}

.first-screen__header {
  padding-left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  position: absolute;
  width: 49%;
  height: 13vh;
}

.first-screen__header-button {
  margin-right: 2vw;
  position: relative;
  border: 0;
  background: none;
  color: white;
  font-size: 16px;
}

.first-screen__header-button:hover {
  color: blue;
}

.first-screen__line {
  position: absolute;
  top: 13vh;
  width: 100%;
  height: 1px;
  background: #a1a1a1;
}

.first-screen__main {
  top: 13vh;
  width: 100%;
  height: 50vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen__first-p {
  top: 10vh;
  position: relative;
  font-size: 16px;
  color: white;
}

.first-screen__second-p {
  top: 12vh;
  position: relative;
  font-size: 48px;
  /* font-size: calc(48px + 6 * (100vw / 1280)); */
  color: white;
  font-weight: 800;
  margin-bottom: 5vh;
  text-align: center;
}

.first-screen__main button {
  position: relative;
  top: 13vh;
  border: 0;
  background: #4985ff;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  height: 45px;
  font-size: 16px;
}

.first-screen__main button:hover {
  background: #3478ff;
}

.services {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 703px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__first-main-p {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  top: 110px;
  color: #323232;
}

.services__second-main-p {
  position: relative;
  top: 140px;
  max-width: 730px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.services button {
  position: relative;
  top: 230px;
  border: 0;
  background: #4985ff;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  height: 45px;
  font-size: 16px;
}

.services button:hover {
  background: #3478ff;
}

.services__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 150px;
  top: 180px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.services__item {
  position: relative;
  width: 359px;
  min-height: 150px;
  margin-bottom: 10px;
}

.services__item img {
  position: absolute;
}

.services__second-img {
  top: 10px;
  left: 10px;
}

.services__third-img {
  top: 35px;
  left: 35px;
}

.services__first-p {
  position: relative;
  max-width: 220px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  top: 42px;
  left: 127px;
  color: #000000;
}

.services__second-p {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  top: 65px;
  left: 127px;
  max-width: 220px;
  font-size: 14px;
  color: #999999;
}

.about-us {
  width: 100%;
  height: 700px;
  background: #f6f6f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.about-us__first-block {
  width: 100%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__text {
  max-width: 489px;
  max-height: 295px;
  margin-left: 10px;
}

.about-us__first-main-p {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.about-us__second-main-p {
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.about-us a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985ff;
}

.about-us__img {
  max-width: 520px;
  max-height: 420px;
  width: auto;
}

.about-us__img img {
  max-width: 520px;
  width: 100%;
}

.about-us__line {
  position: relative;
  width: 100%;
  max-width: 1110px;
  height: 1px;
  top: 90px;
  background: #e0e0e0;
}

.about-us__numbers {
  position: relative;
  top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 920px;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__number {
  width: 104px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}

.about-us__number img {
  height: 30px;
  width: 30px;
}

.about-us__number-first-p {
  font-size: 36px;
  line-height: middle;
  color: #000000;
  height: 35px;
}

.about-us__number-second-p {
  width: 100px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.all-services {
  width: 100%;
  height: 887px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #504dc2), color-stop(50%, #ffffff));
  background: linear-gradient(to bottom, #504dc2 50%, #ffffff 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-services__first-block {
  position: relative;
  top: 100px;
  max-width: 1110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-services__text {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #ffffff;
  max-width: 470px;
  margin: 0;
}

.all-services button {
  position: relative;
  border: 0;
  background: #4985ff;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  height: 45px;
  font-size: 16px;
}

.all-services button:hover {
  background: #3478ff;
}

.all-services__items {
  position: relative;
  top: 170px;
  width: 100%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.all-services__item {
  max-width: 350px;
  max-height: 544px;
}

.all-services__first-p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.all-services__second-p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.all-services a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985ff;
}

.all-services__line {
  position: relative;
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  max-width: 1110px;
}

.white-block {
  background: #ffffff;
  height: 85px;
  width: 100%;
}

.all-projects {
  background: #f6f6f8;
  width: 100%;
  height: 776px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-projects__first-p {
  position: relative;
  top: 90px;
  width: 100%;
  max-height: 35px;
  height: auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

.all-projects__second-p {
  position: relative;
  top: 160px;
  max-width: 600px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin: 0px 10px;
}

.all-projects-imgs {
  position: relative;
  top: 250px;
  max-width: 1140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.all-projects-imgs img {
  padding: 0 15px 30px;
}

.all-projects button {
  position: relative;
  top: 270px;
  border: 0;
  background: #4985ff;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  height: 45px;
  font-size: 16px;
}

.all-projects button:hover {
  background: #3478ff;
}

.video {
  width: 100%;
  height: 735px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
}

.video-background {
  height: 570px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))), url(../images/Rectangle.png);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../images/Rectangle.png);
  background-position: center;
}

.video-p1 {
  position: relative;
  top: 70px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #ffffff;
}

.video-p2 {
  position: relative;
  top: 100px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.video-player {
  position: relative;
  max-width: 970px;
  max-height: 430px;
  width: 100%;
  height: 100%;
  top: -340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img1 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 970px;
  max-height: 430px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video button {
  position: relative;
  top: -65px;
  width: 300px;
  min-height: 100px;
  border: 1px solid;
  border-color: white;
  background: none;
  color: white;
  border-radius: 200px;
  padding-right: 45px;
  font-size: 16px;
  text-align: right;
}

.player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 100px;
}

.player-button img {
  position: relative;
  top: 20px;
  left: 40px;
  max-width: 60px;
  width: 100%;
}

.line-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 1px;
  min-width: 320px;
  top: -265px;
}

.video-line {
  position: relative;
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  max-width: 1110px;
}

.subscribe {
  width: 100%;
  height: 347px;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__first-p {
  position: relative;
  top: 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.subscribe__second-p {
  position: relative;
  top: 105px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin: 0px 10px;
}

.input {
  position: relative;
  top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 489px;
  max-height: 45px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.subscribe__input-text {
  position: relative;
  border: 0;
  background: #ffffff;
  color: #999999;
  border-radius: 30px 0px 0px 30px;
  padding: 20px;
  max-width: 299px;
  width: 100%;
  max-height: 45px;
  font-size: 16px;
  line-height: 21px;
  outline: none;
}

.subscribe__input-button {
  position: relative;
  border: 0;
  background: #4985ff;
  border-radius: 0px 30px 30px 0px;
  padding: 10px;
  max-width: 190px;
  width: 100%;
  max-height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.subscribe__input-button:hover {
  background: #3478ff;
}

.subscribe__third-p {
  position: relative;
  top: 147px;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

.footer {
  background: #f6f6f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 413px;
  width: 100%;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1110px;
  width: 100%;
  margin: 20px;
}

.footer__links a {
  margin-top: 30px;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  text-decoration: none;
  border: none;
}

.footer__link-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 5px;
}

.footer__first-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 255px;
  max-height: 180px;
  width: 100%;
  height: 100%;
  margin: 0px 10px 20px 10px;
}

.footer__second-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 245px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  margin: 0px 10px 20px 10px;
}

.footer__third-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 245px;
  max-height: 235px;
  width: 100%;
  height: 100%;
  margin: 0px 10px 20px 10px;
}

.footer__fourth-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 245px;
  max-height: 235px;
  width: 100%;
  height: 100%;
  margin: 0px 10px 20px 10px;
}

.footer__line {
  position: relative;
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  max-width: 1110px;
}

.footer__end {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

/** header buttons */
@media (max-width: 600px) {
  .first-screen__header {
    padding: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 50px;
  }

  .first-screen__line {
    top: 50px;
  }
}
/** header */
@media (min-width: 320px) and (max-width: 480px) {
  .first-screen__main {
    max-height: 180px;
  }

  .first-screen__header-button {
    font-size: 10px;
  }

  .first-screen__first-p {
    top: -50px;
    font-size: 12px;
  }

  .first-screen__second-p {
    top: -40px;
    font-size: 14px;
  }

  .first-screen__main button {
    top: -60px;
  }
}
/** header */
@media (min-width: 480px) and (max-width: 601px) {
  .first-screen__main {
    max-height: 180px;
  }

  .first-screen__header-button {
    font-size: 10px;
  }

  .first-screen__first-p {
    top: -30px;
    font-size: 12px;
  }

  .first-screen__second-p {
    top: -20px;
    font-size: 16px;
  }

  .first-screen__main button {
    top: -40px;
  }
}
/** header */
@media (min-width: 601px) and (max-width: 720px) {
  .first-screen__main {
    max-height: 240px;
  }

  .first-screen__header-button {
    font-size: 12px;
  }

  .first-screen__first-p {
    top: -20px;
    font-size: 12px;
  }

  .first-screen__second-p {
    top: -10px;
    font-size: 20px;
  }

  .first-screen__main button {
    top: -10px;
  }
}
/** header */
@media (min-width: 720px) and (max-width: 800px) {
  .first-screen__main {
    max-height: 260px;
  }

  .first-screen__header-button {
    font-size: 12px;
  }

  .first-screen__first-p {
    top: 10px;
    font-size: 12px;
  }

  .first-screen__second-p {
    top: 20px;
    font-size: 20px;
  }

  .first-screen__main button {
    top: 0px;
  }
}
/** header */
@media (min-width: 800px) and (max-width: 961px) {
  .first-screen__main {
    max-height: 280px;
  }

  .first-screen__header-button {
    font-size: 14px;
  }

  .first-screen__first-p {
    top: 30px;
    font-size: 14px;
  }

  .first-screen__second-p {
    top: 40px;
    font-size: 26px;
  }

  .first-screen__main button {
    top: 40px;
  }
}
/** about-us__numbers */
@media (min-width: 320px) and (max-width: 480px) {
  .about-us__numbers {
    top: 130px;
    max-width: 920px;
    width: 100%;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/** about-us__numbers */
@media (min-width: 480px) and (max-width: 620px) {
  .about-us__numbers {
    top: 100px;
    max-width: 920px;
    width: 100%;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/** about-us__numbers */
@media (min-width: 620px) and (max-width: 1019px) {
  .about-us__numbers {
    top: 130px;
    max-width: 920px;
    width: 100%;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/** about-us */
@media (max-width: 1019px) {
  .about-us {
    height: 1000px;
    padding-top: 80px;
  }

  .about-us__first-block {
    width: 100%;
    max-width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-us__text {
    padding-top: 20px;
  }

  .about-us__img {
    padding-top: 20px;
  }
}
/** services */
@media screen and (max-width: 758px) {
  .services {
    height: 940px;
  }

  .services__item {
    margin-right: 20px;
  }

  .services__first-main-p {
    font-size: 28px;
  }

  .services__second-main-p {
    font-size: 12px;
  }
}
/** services */
@media (min-width: 758px) and (max-width: 1136px) {
  .services {
    height: 800px;
  }

  .services__item {
    margin-right: 20px;
  }
}
/** services__item-p */
@media (max-width: 480px) {
  .services__first-p {
    position: relative;
    max-width: 185px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    top: 42px;
    left: 127px;
    color: #000000;
  }

  .services__second-p {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    top: 65px;
    left: 127px;
    max-width: 185px;
    width: auto;
    font-size: 12px;
    color: #999999;
  }
}
/** all-services  */
@media (max-width: 381px) {
  .all-services__text {
    text-align: center;
    max-height: 160px;
    margin: 0px;
  }
}
/** all-services */
@media (max-width: 480px) {
  .all-services__text {
    font-size: 28px;
  }

  .all-services__item {
    max-width: 310px;
    max-height: 514px;
  }

  .all-services__item img {
    max-width: 310px;
  }
}
/** all-services */
@media (max-width: 780px) {
  .all-services {
    height: 1900px;
  }

  .all-services__first-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-height: 180px;
    height: 100%;
  }

  .all-services__text {
    margin: 0px 10px 10px;
  }

  .all-services button {
    margin: 0px 10px 20px;
    min-width: 200px;
  }

  .all-services__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    top: 150px;
  }

  .all-services__item {
    margin: 0 20px 20px;
  }

  .all-services__line {
    height: 0px;
  }
}
/** all-services */
@media (min-width: 780px) and (max-width: 1139px) {
  .all-services {
    height: 1300px;
  }

  .all-services__first-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .all-services__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .all-services__item {
    margin: 0 20px 20px;
  }

  .all-services__line {
    height: 0px;
  }
}
/** all-projects */
@media (max-width: 570px) {
  .all-projects {
    height: 1620px;
  }
}
/** all-projects  */
@media (max-width: 600px) {
  .all-projects {
    min-height: 1020px;
  }
}
/** footer */
@media (max-width: 676px) {
  .footer {
    height: 600px;
    height: auto;
  }
}
/** buttons */
@media (max-width: 700px) {
  .first-screen__main button,
.services button,
.all-services button,
.all-projects button {
    border-radius: 25px;
    padding: 5px;
    width: 150px;
    height: 35px;
    font-size: 12px;
  }

  /* email + button */
  .subscribe__input-text {
    border-radius: 25px 0px 0px 25px;
    padding: 10px;
    max-width: 250px;
    width: 100%;
    max-height: 35px;
    font-size: 12px;
  }

  .subscribe__input-button {
    border-radius: 0px 25px 25px 0px;
    padding: 5px;
    max-width: 150px;
    width: 100%;
    max-height: 35px;
    font-size: 12px;
  }

  .input {
    max-width: 400px;
    max-height: 35px;
    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
            box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 25px;
    width: calc(100% - 20px);
  }

  /* player */
  .player-button {
    max-width: 200px;
    max-height: 70px;
  }

  .player-button img {
    top: 15px;
    left: 15px;
    max-width: 40px;
    width: 100%;
  }

  .video button {
    top: -44px;
    width: 200px;
    min-height: 70px;
    border-radius: 130px;
    padding-right: 45px;
    font-size: 12px;
    text-align: right;
  }
}
/*! 320 - 479 */
@media (min-width: 320px) and (max-width: 480px) {
  .services__first-main-p {
    font-size: 20px;
    top: 40px;
  }

  .services__second-main-p {
    top: 50px;
  }

  .services__items {
    top: 90px;
  }

  .services button {
    top: 120px;
  }
}
/*! 480 - 599 */
@media (min-width: 480px) and (max-width: 600px) {
  .services__first-main-p {
    font-size: 24px;
  }
}
/*! 600 - 960 */
@media (min-width: 600px) and (max-width: 961px) {
  .all-projects {
    min-height: 1020px;
  }

  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1110px;
    width: 100%;
  }

  .footer__first-link {
    max-width: 255px;
    max-height: 156px;
    width: auto;
    height: 100%;
    margin-bottom: 20px;
  }

  .footer__second-link {
    max-width: 245px;
    max-height: 198px;
    width: auto;
    height: 100%;
    margin-bottom: 20px;
  }

  .footer__third-link {
    width: auto;
  }

  .footer__fourth-link {
    width: auto;
  }
}
/*! 961 - 1138 */
@media (min-width: 961px) and (max-width: 1140px) {
  .first-screen__first-p {
    top: -80px;
  }

  .first-screen__second-p {
    top: -60px;
    font-size: 34px;
  }

  .first-screen__main button {
    top: -70px;
  }

  .all-services {
    height: 1300px;
  }

  .all-services__first-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .all-services__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .all-services__item {
    margin: 0 20px 20px;
  }

  .all-services__line {
    height: 0px;
  }

  .all-projects {
    min-height: 1020px;
  }

  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1110px;
    width: 100%;
  }

  .footer__first-link {
    max-width: 255px;
    max-height: 156px;
    width: auto;
    height: 100%;
    margin-bottom: 20px;
  }

  .footer__second-link {
    max-width: 245px;
    max-height: 198px;
    width: auto;
    height: 100%;
    margin-bottom: 20px;
  }

  .footer__third-link {
    width: auto;
  }

  .footer__fourth-link {
    width: auto;
  }
}
/*! 1140 - 1440 */
@media (min-width: 1140px) and (max-width: 1440px) {
  .first-screen__first-p {
    top: 0vh;
  }

  .first-screen__second-p {
    top: 20px;
    /* font-size: 40px; */
  }

  .first-screen__main button {
    top: 8vh;
  }
}
/*! 1440 - ... */
@media (min-width: 600px) and (max-width: 1441px) {
  .first-screen__header {
    padding-left: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 59%;
  }
}
